.calendar {
   --bg-color: var(--bg-h1);
}

.calendar .buffer {
   background-color: var(--bg-h2);
   border-radius: var(--border-radius);

   padding: 50px;
   margin: 50px 0;
}

.calendar .actual {
   display: grid;
   justify-items: center;
   gap: 10px;

   margin: 50px 0;

   grid-template-columns: repeat(11, 1fr);
   grid-template-rows: repeat(4, 1fr);


   transition: var(--transition);
}

@media (max-width: 700px) {
   .calendar>div {
      height: 85%;
      width: 100%;
   }

   .calendar>h2 {
      font-size: 1.5em;
   }

   .calendar .actual {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(7, 1fr);
      gap: 5px;

      margin: 10px 0;
   }

   .calendar .day {
      margin: 0;
   }
}

.calendar .day {
   position: relative;

   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5px;

   margin: 5px 0;

   width: 50px;
   border-radius: var(--border-radius);
   transition: var(--transition);
}

.calendar .rating {
   position: relative;

   height: 50px;
   width: 100%;
   border-radius: var(--border-radius);

   border: 2px var(--text-l3) solid;
   cursor: pointer;
}

.calendar .actual p {
   font-size: 16px;
   font-weight: bold;
   color: var(--text-h3);
   user-select: none;
}

.calendar .rating:focus-visible {
   outline: var(--focus);
}

.calendar .rating.okay {
   background-color: var(--warn);
   border: none;
}

.calendar .rating.good {
   background-color: var(--success);
   border: none;
}

.calendar .rating.bad {
   background-color: var(--error);
   border: none;
}

.calendar .rating.none {
   background-color: var(--text-l3);
   border: none;
}